<h1>アイディア詳細</h1>
<h4>アイディア名</h4>
<%= @idea.title %>
<h4>写真、画像</h4>
<%= attachment_image_tag @idea,:image,:fill,150,150,format: "jpg",follback: "no_image.jpg" %>
<h4>説明</h4>
<%= @idea.caption %>
<h4>タグ</h4>
<br>
<h4>作成日</h4>
<%= @idea.created_at.strftime("%Y/%m/%d %H:%M") %>
<%= link_to "編集",edit_idea_path(@idea.id) %>
<%= link_to "削除",idea_path(@idea.id),method: :delete,data: {confirm: "削除しますか？"} %>
<h4>コメント</h4>
<br>
<h4>いいね数</h4>
<br>