<div class = "container">
  <div class = "row">
    <div class = "mx-auto">
      <h1>アイディア編集</h1>
      <%= form_with model:@idea,local: true do |f| %>
        <%= f.label :title,"アイディア名(必須)" %><br>
        <%= f.text_field :title %><br><br>

        <%= f.collection_select :genre_id,Genre.all,:id,:name,include_blank: "選択してください" %><br>

        <%= f.label :tag_list,"タグリスト(必須)" %><br>
        <%= f.text_field :tag_list, value: @idea.tag_list.join(','),placeholder: "例) テント,一人用" %><br>

        <%= f.label :image,"添付したい写真、画像(任意)" %><br>
        <%= f.attachment_field :image %><br>

        <%= f.label :caption,"説明(必須)" %><br>
        <%= f.text_area :caption %><br>

        <%= f.submit "修正完了" %>
      <% end %>
      <%= link_to "戻る",idea_path(@idea.id) %>
    </div>
  </div>
</div>