<div class = "container">
  <div class = "row">
    <% if current_member.is_company == false %>
      <h2>採用された投稿一覧(全<%= @ideas.count %>件)</h2>
    <% else %>
      <h2>すべてのアイディア一覧(全<%= @ideas.count %>件)</h2>
    <% end %>
    <table class = "table">
      <thead>
          <tr>
            <th>投稿者</th>
            <th>Idea名</th>
            <th>内容</th>
            <th>ジャンル</th>
            <th>タグ</th>
            <th>採用ステータス</th>
            <th>投稿日</th>
          </tr>
      </thead>
      <% @ideas.each do |idea| %>
        <tbody>
          <tr>
            <td><%= idea.member.last_name + idea.member.first_name %></td>
            <td><strong><%= link_to idea.title,idea_path(idea.id),data: {"turbolinks" => false} %></strong></td>
            <td><%= idea.caption %></td>
            <td>
              <%= idea.genre.name %>
            </td>
            <td>
              <% idea.tag_list.each do |tag| %>
                <%= link_to tag,ideas_path(tag_name: tag),data: {"turbolinks" => false} %>
              <% end %>
            </td>
            <td>
              <% if idea.is_adopted == true %>
                  <P>採用</P>
                <% else %>
                  <P>未採用</P>
                <% end %>
            </td>
            <td><%= idea.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
</div>