<div class = "container">
  <div class = "row">
    <div class = "new-idea mx-auto">
      <div class = "new-idea-form mt-5 mb-5">
        <%= render "layouts/error_form",model: @idea %>
        <h1>新規投稿</h1>
        <%= form_with model:@idea,local: true do |f| %>
          <%= f.label :title,"アイディア名(必須)",class: "mt-3" %><br><!--tagitイベントで、class名、name、id名が追加される-->
          <%= f.text_field :title, size: 53, autocomplete: false %><br><br>

          <h6>ジャンル(必須)</h6>
          <%= f.collection_select :genre_id,Genre.all,:id,:name,include_blank: "選択してください" %><br>

          <%= f.label :tag_list,"タグリスト(Enterで複数登録可)",class: "mt-3" %><br>
          <%= f.text_field :tag_list, value: @idea.tag_list.join(","),class: "tag_form tagit-hidden-field" ,name: "idea[tag_list]", id: "idea_tag_list",size: 40 %><br>
          <!--<ul class = "tagit.ui-widget.ui-widget-content.ui-corner-all">-->
            <!--<li class = "tagit-new">-->
              <%#= f.text_field class: "ui-widget-content ui-autocomplete-input", autocomplete: "off", placeholder: "あと10個登録できます" %>  <!-- autocomplete="off" 自動入力の無効化--->
            <!--</li>-->
          <!--</ul>-->

          <%= f.label :image,"添付したい写真、画像(任意)",class: "mt-3" %><br>
          <%= f.attachment_field :image %><br>

          <%= f.label :caption,"説明(必須)",class: "mt-3" %><br>
          <%= f.text_area :caption, size: "60x7" %><br>

          <%= f.submit "投稿"%>
        <% end %>
      </div>
    </div>
  </div>
</div>


<!--params[:team] => {group_id: "XXXXXXXX"}-->
<!--params[:team][:group_id] => "XXXXXX"-->


<!--=> {params:{team:{group_id: "XXXXXXXX"}-->

