<h1>新規投稿</h1>
<%= form_with model:@idea,local: true do |f| %>
  <%= f.label :title,"アイディア名(必須)" %><br>
  <%= f.text_field :title %><br>

  <%= f.label :image,"添付したい写真、画像(任意)" %><br>
  <%= f.attachment_field :image %><br>

  <%= f.label :caption,"説明(必須)" %><br>
  <%= f.text_area :caption %><br>

  <h4>タグ(任意)</h4>
  <br>
  <%= f.submit "投稿" %>
<% end %>