<div class = "container">
  <div class = "row">
    <div class = "col-md-9 mx-auto mt-3">
      <h1>アイディア詳細</h1>
      <table class = "table table-borderless border-bottom border-dark">
        <tr>
          <td style="width: 25%">
            <strong>アイディア名</strong><br>
            <%= @idea.title %><br><br>
            <strong>ジャンル</strong><br>
            <%= @idea.genre.name %><br><br>
            <strong>タグ</strong><br>
            <%= @idea.tag_list %><br>
            <strong>作成日</strong><br>
            <%= @idea.created_at.strftime("%Y/%m/%d %H:%M") %><br><br>
            <%# if @idea.favorited_by?(current_member) %><!--テンプレートと重複するのでコメントアウト--->
            <% if current_member.present? %>
              <div class = "favorite-btn-<%= @idea.id.to_s %>">
                <%= render 'members/favorites/favorite-btn',idea: @idea %>
              </div>
            <% end %>
            <!--  <p>非同期通信化にしたので部分テンプレートに記述-->
            <!--    <%#= link_to idea_favorites_path(@idea.id),method: :delete do %>-->
            <!--      ♥<%#= @idea.favorites.count %>-->
            <!--    <%# end %>-->
            <!--  </p>-->
            <!--<%# else %>-->
            <!--  <p>-->
            <!--    <%#= link_to idea_favorites_path(@idea.id),method: :post do %>-->
            <!--      ♡<%#= @idea.favorites.count %>-->
            <!--    <%# end %>-->
            <!--  </p>-->
            <%# end %>
            <% if @idea.member == current_member %>
              <%= link_to "編集",edit_idea_path(@idea.id) %>
              <%= link_to "削除",idea_path(@idea.id),method: :delete,data: {confirm: "削除しますか？"} %>
            <% end %>

          </td>
          <td style="width: 30%">
            <strong>写真、画像</strong><br>
            <%= attachment_image_tag @idea,:image,:fill,370,320,format: "jpg",follback: image_url("no_image.jpg") %>
          </td>
          <td style="width: 45%">
            <strong>説明</strong><br>
            <%= @idea.caption %>
          </td>
        </tr>
      </table>

      <div class = "adopt border-bottom mb-3">
        <% if current_member.present? %>
          <% if current_member.is_company == true && @idea.adopted_status == "選考中(未採用)" %>
            <div class = "ml-5">
            このアイディアは現在、未採用です<br>
            採用が可能ですがいかがされますか？<br>
            ※採用を行う場合はaboutページ記載の利用規約に準じて開発を進めてください
            <%= form_with model:@idea,url: idea_status_update_path(@idea.id),method: :patch,local: true do |f| %>
              <%#= f.hidden_field :id, :value => @idea.id %><!--誰の何のデータを送るかを明確にしてあげる。今回はpathの中でidを渡しているので不要-->
              <%#= f.hidden_field :adopted_by_id, :value => current_member.id %>
              <%= f.hidden_field :adopted_status, {value: "採用済み(企画中)"} %><!--「hidden_fieldにenumの値を持たせる」参照-->
              <!--今回はした二つのhidden_fieldはコントローラで変更をかけるのでどのideaなのかだけ送ればいい-->
              <%= f.submit "採用済み(企画中)に変更" %>
              <%= link_to "このメンバーの投稿一覧",member_path(@idea.member.id) %>
            </div>
            <% end %>
          <% elsif current_member.is_company == true %>
            <div class = "ml-5" >
              <div class = "d-flex">
                <p class = " mr-5">
                  現在のステータス<br><%= @idea.adopted_status %>
                </p>
                <p>
                  アイディアの採用者様id<br>メンバーid:<%= @idea.adopted_by_id %>
                </p>
                <div class = "ml-5">
                  <%= link_to "このメンバーの投稿一覧",member_path(@idea.member.id) %>
                </div>
              </div>
              <%= form_with model: @idea, method: :patch, url: idea_status_update_path(@idea.id), local: true do |f| %>
                <%= f.select :adopted_status, Idea.adopted_statuses.keys.to_a, {} %><!--複数選択などがなければ今回のシンプルなシンプルな形でok-->
                <%= f.submit "更新", class:"btn btn-create" %>
              <% end %>
            </div>
          <% else %>
          <div class = "d-flex">
            <p class = "ml-5 mr-5">
              現在のステータス<br><%= @idea.adopted_status %>
            </p>
            <p>
              アイディアの採用者様id<br>メンバーid:<%= @idea.adopted_by_id %>
            </p>
            <div class = "ml-5">
              <%= link_to "このメンバーの投稿一覧へ",member_path(@idea.member.id) %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>


      <div class = "comment-space-<%= @idea.id.to_s %>">
        <%= render "members/idea_comments/idea-comments-form",idea: @idea %>
      </div>
      <!--<h4>コメント</h4>非同期化につき、コメントアウト-->
      <!--<div class = "row mb-4">-->
      <!--  <div class = "new-comments col-md-5" >-->
      <!--    <p>コメント件数:<%#= @idea.idea_comments.count %></p>-->
      <!--    <%#= form_with(model:[@idea,@idea_comment],local: true) do |f| %>-->
      <!--      <%#= f.text_area :comment,row:"15",placeholder: "コメント記入欄" %>-->
      <!--      <%#= f.submit "送信する" %>-->
      <!--    <%# end %>-->
      <!--  </div>-->
      <!--  <div class = "comment-log col-md-7 mb-4">-->
      <!--    <table class = "table" >-->
      <!--      <%# @idea.idea_comments.each do |idea_comment| %>-->
      <!--        <tr>-->
      <!--          <td>-->
      <!--          <%#= idea_comment.member.last_name + idea_comment.member.first_name %><br>-->
      <!--          メンバーid:<%#= idea_comment.member.id %>-->
      <!--          </td>-->
      <!--          <td>-->
      <!--          <%#= idea_comment.comment %><br>-->
      <!--          <%#= idea_comment.created_at.strftime("%Y/%m/%d %H:%M") %>-->
      <!--          </td>-->

      <!--          <td>-->
      <!--            <%# if idea_comment.member == current_member %>-->
      <!--              <div class = "comment-delete" >-->
      <!--                <%#= link_to "削除",idea_idea_comment_path(idea_comment.idea,idea_comment),method: :delete,data: {confirm: "削除しますか？"} %>-->
      <!--              </div>-->
      <!--            <%# end %>-->
      <!--          </td>-->
      <!--        </tr>-->
      <!--      <%# end %>-->
      <!--    </table>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
  </div>
</div>
