<div class = "container" style = "min-height:550px;">
  <div class = "row">
    <h1>すべてのメンバー一覧</h1>
    <table class = "table">
        <thead>
          <tr>
            <th>名前</th>
            <th>投稿数</th>
            <th>採用投稿数</th>
            <th>企業ステータス</th>
            <th>登録日</th>
          </tr>
        </thead>
        <% @members.each do |member| %>
        <tbody>
          <tr>
            <td>
              <%= link_to admins_member_path(member.id) do %>
                <%= member.last_name + member.first_name %>
              <% end %>
            </td>
            <td><%= member.ideas.count %>件</td>
            <td>
              <%= member.ideas.where(adopted_status: "採用済み(完了済み)").count %>件
            </td>
            <td>
              <% if member.is_company == true %>
                <h6>企業メンバー</h6>
              <% else %>
                <h6>一般メンバー</h6>
              <% end %>
            </td>
            <td><%= member.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
  <div class = "row">
    <div class = "mb-2 mx-auto">
      <%= paginate @members %>
    </div>
  </div>
</div>